<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
    <body>
        <form id="create-form" th:action="@{/user/save}" th:object="${user}" th:method="post" accept-charset="utf-8">
            <h1>Добавление нового пользователя:</h1>
            <div class="row">
                <label for="name-input">Имя:</label>
                <input id="name-input" name="name" type="text" th:value="${user.name}"/>
            </div>
            <div class="row">
                <label for="login-input">Логин:</label>
                <input id="login-input" name="login" type="text" th:value="${user.login}"/>
            </div>
            <div class="row">
                <label for="password-input">Пароль:</label>
                <input id="password-input" name="password" type="text" th:value="${user.password}"/>
            </div>
            <div class="row">
                <button type="submit">Save</button>
            </div>
        </form>
    </body>
</html>
