<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Список пользователей</title>
    <script>
        let stompClient;
        function createWsConnection() {
            stompClient = Stomp.over(new SockJS('/gs-guide-websocket'));
            //подписываемся
            stompClient.connect({}, (frame) => {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/userAdd', (timeMsg) => {
                    const user = JSON.stringify(timeMsg);
                    document.getElementById("users").innerHTML += "<tr><td>timeMsg</td><td>timeMsg</td><td>timeMsg</td><td>timeMsg</td></tr>";
                });
            });
        }
        function sendUser() {
            stompClient.send('/app/message',
                {},
                JSON.stringify({'name' : $('#name-input').val(),
                    'login' : $('#login-input').val(),
                    'password' : $('#password-input').val()}));
            $('[id$=-input]').val('');
        }

    </script>
</head>
    <div>
        <table>
            <tr>
                <td>Имя:</td>
                <td><input id="name-input" name="name" type="text"/></td>
            </tr>
            <tr>
                <td>Логин:</td>
                <td><input id="login-input" name="login" type="text"/></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input id="password-input" name="password" type="text"/></td>
            </tr>
            <tr>
                <td colspan="2"><input value="Создать пользователя" name="password" type="button" onclick="sendUser()"></td>
            </tr>
        </table>
    </div>
    <a th:href="@{/user/create}" href="userCreate.html">Создать нового пользователя</a>
    <body onload="createWsConnection();">
        <div id="currentTime"></div>
        <h4>Список пользователей: </h4>
        <table id="users" style="width: 400px">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Имя</td>
                    <td>Логин</td>
                    <td>Пароль</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text = ${user.id}></td>
                    <td th:text = ${user.name}></td>
                    <td th:text = ${user.login}></td>
                    <td th:text = ${user.password}> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>